<% include partials/header.ejs %>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<!--
  <div class="movie-btn">
    <a href="/movie/list" class="btn btn-warning" role="button">
      <i class="fas fa-list"></i>Movie List</a>
  </div>

  <div class="add-btn">
    <a href="/movie/add" class="btn btn-success" role="button">
      <i class="fas fa-plus-circle"></i>Add Movie</a>
  </div> -->
</div>

<% include partials/footer.ejs %>
